if [[ -f ~/.vimrc ]]; then
    echo \
"filetype plugin indent on
set expandtab
set tabstop=4
setshiftwidth=4
syntax on
set backspace=indent,eol,start
set number

map <F7> :tabp <CR>
map <F8> :tabn <CR>" > ~/.vimrc
fi
