echo \
"set-option -g prefix C-a
set -g base-index 1
set -s escape-time 0
set -g aggressive-resize on
set -g monitor-activity on
set -g visual-activity on
set-option -g mouse-select-pane on

bind-key C-a last-window
bind-key C-s previous-window" \
 > ~/.tmux.conf

git clone 'https://github.com/tmux-plugins/tmux-resurrect.git' ~/Code/tmux-resurrect

echo "run-shell ~/Code/tmux-resurrect/resurrect.tmux" >> ~/.tmux.conf
